<%- include('partials/head') %>

<%- include('partials/header') %>

    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="#"><i class="fa fa-home"></i> Home</a>
                        <span>Shop</span>
                        <a href="/products/new" class="btn btn-primary mb-3">
                        ➕ Thêm sản phẩm
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Product Shop Section Begin -->
    <section class="product-shop spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-1 order-lg-2">
                    <div class="product-list">
                        <div class="row">
                            <% products.forEach(p => { %>
                                <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    
                                    <div class="pi-pic">
                                        <img src="<%= p.image ? p.image : '/img/products/product-1.jpg' %>" alt="">
                                    
                                    <div class="icon">
                                        <i class="icon_heart_alt"></i>
                                    </div>

                                    <ul>
                                        <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                        <li class="quick-view">
                                            <a href="/products/<%= p._id %>">+ Xem chi tiết</a>
                                        </li>
                                        <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                    </ul>
                                    </div>

                                    <div class="pi-text">
                                    <div class="catagory-name">
                                        <%= p.category || 'No category' %>
                                    </div>

                                    <a href="/products/<%= p._id %>">
                                        <h5><%= p.name %></h5>
                                    </a>

                                    <div class="product-price">
                                        ₫<%= p.price %>
                                    </div>
                                    </div>

                                </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Shop Section End -->

    <!-- Partner Logo Section Begin -->
    <div class="partner-logo">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-3.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-4.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="img/logo-carousel/logo-5.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Partner Logo Section End -->

    <%- include('partials/footer') %>
    